* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

i.fas.fa-chevron-down::before {
  padding-left: 5px;
  font-size: 13px;
}

i.fas.fa-pen::before {
  padding-left: 5px;
}

.topnav {
  overflow: hidden;
	color: black;
  margin: 20px;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.activeHome {
  color: #BF5700;
}

.topnav .icon {
  display: none;
  font-size:20px;
}
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn {
  color: #BF5700;
}

li.dropdown {
  display: inline-block;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
padding: 8px 16px;
text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: #BF5700;
}

.dropdown-content a:hover {
  color: #BF5700;
}

.dropdown:hover .dropdown-content {
  display: block;
}



@media screen and (min-width: 901px) and (max-width: 1000px) {
  .topnav a.contact{display: none!important;}
}

@media screen and (max-width: 900px) {
  .topnav a:not(:last-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;

  }
}

@media screen and (min-width: 901px) {
.dropdown-content {
margin-top: 50px;
}
}


@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-left: 20px;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav.responsive {
  background-color: #e5e5e5;
  }

  .topnav.responsive .logo {
  display:none;
  }

  .topnav.responsive .buttonReview{
  background-color: transparent;
  color:black!important;
  }
  .topnav.responsive .buttonReview:hover{color:#BF5700!important;}
}



.topnav .logo {
	float:left;
    right:0;
    margin-top: -8px;
}

.icon{
font-size:20px;
background-color:#BF5700;
color:white!important;
}


.buttonReview{
background-color: #BF5700;
border-radius:25px;
/* padding: 5px 20px; */
text-align: center;
text-decoration: none;
color:white!important;
}

a.buttonReview.button{padding: 7px 20px;margin-top:6px;}

.button {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  /* float: right; */
  margin-left: 25px;
}

.text {
  /* margin-top: 200px; */
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 25px;
}

header {
  margin: 25px;
}


/* Paragraph */
.specialtyTitles {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 25px 25px 15px 25px;
  text-align: center;
}
.headerPragraph {
  margin: 0px 100px 70px 100px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-indent: 50px;
}
.parallax {
  
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* margin-left: 50%; */
  /* transform: translateX(-50%); */
}


/* Middle bar STARTS */
button {
  background-color: #202c43;
  border: none;
  color: white;
  padding: 30px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}




.line:not(:last-child):after {
  content: " | ";
  padding: 0px 30px;
  color:white;
}

button:focus {outline: 0;}

.middleBar {
  background-color: #202c43;
  text-align: center;
  margin-bottom: 40px;
}

/* Middle bar ENDS */

/* Footer STARTS */
html, body {
  height: 100%;
  margin: 0;
}

.container {
  margin: 0 auto;
  background: white;
  font-size: 24px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.footer {
  height: 120px;
  padding: 20px;
  text-align: center;
}

.footerCopyText {
  margin-top: 10px;
}

footer {
  background: #202c43;
  color: white;
  padding: 0 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 100px;
}

.footerLi {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 25px;
  text-decoration: undeline;
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.test {
  text-align: center;
}

.buttonF {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
/* Footer ENDS */


/* Sections BEGINS */
div.gallery {
  border: 1px solid #ccc;
  height: 650px;
  background-color: #f2f2f2;
  cursor: pointer;
  pointer-events: auto;
}

div.gallery:hover {
  border: 1px solid #777;
  cursor: pointer;
  pointer-events: auto;
  z-index: 2;
}

div.gallery img {
  width: 100%;
  height: auto;
  z-index: 2;
}

div.desc {
  padding: 15px;
  text-align: center;
  text-align:left;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 20px;
  float: left;
  width: 24.99999%;
  cursor: pointer;
  z-index: 2;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

b {
  color: #BF5700;
}
