* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

i.fas.fa-chevron-down::before {
  padding-left: 5px;
  font-size: 13px;
}

i.fas.fa-pen::before {
  padding-left: 5px;
}

.topnav {
  /* overflow: hidden; */
  color: black;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.activeHome {
  color: #BF5700;
}

.topnav .icon {
  display: none;
  font-size: 20px;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn {
  color: #BF5700;
}

li.dropdown {
  display: inline-block;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: #BF5700;
}

.dropdown-content a:hover {
  color: #BF5700;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .topnav a.contact {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .topnav a:not(:last-child), .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 901px) {
  .dropdown-content {
    margin-top: 50px;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-left: 20px;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav.responsive {
    background-color: #e5e5e5;
  }

  .topnav.responsive .logo {
    display: none;
  }

  .topnav.responsive .buttonReview {
    background-color: transparent;
    color: black !important;
  }

  .topnav.responsive .buttonReview:hover {
    color: #BF5700 !important;
  }
}

.topnav .logo {
  float: left;
  right: 0;
  margin-top: -8px;
}

.icon {
  font-size: 20px;
  background-color: #BF5700;
  color: white !important;
}

.buttonReview {
  background-color: #BF5700;
  border-radius: 25px;
  /* padding: 5px 20px; */
  text-align: center;
  text-decoration: none;
  color: white !important;
}

a.buttonReview.button {
  padding: 7px 20px;
  margin-top: 6px;
}

.button {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  /* float: right; */
  margin-left: 25px;
}

.text {
  /* margin-top: 200px; */
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 25px;
}

header {
  margin: 25px;
}

/* HEADER ENDS ------------------------------------------------------*/
.button {}

.bg {
  overflow: hidden;
  margin-top: 0;
  position: relative;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #FDFDFD;
}

body.menu-active .bg-container {
  transform: scale(0.9);
}

.bg-container .inner {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(177, 177, 177, 1);
  width: 500px;
  height: 470px;
  top: 100px;
  position: absolute;
  background-color: white;
  left: 33.33%;
}

body.menu-active .nav a.white {
  color: #212121;
  transition: all 0.15s ease;
}

.bg-container .panel.panel-right .panel-content .form {
  margin: 0 auto;
  width: 300px;
  min-height: 400px;
  float: right;
  left: 50%;
}

.bg-container .panel.panel-right .panel-content .form h1 {
  display: block;
  margin: 0 0 45px 0;
  color: #B1B1B1;
  font-weight: 200;
  font-size: 18px;
}

.form h1 {
  display: block;
  margin: 0 0 25px 0;
  color: black;
  font-weight: 200;
  font-size: 18px;
}

.contact-message {
padding: 0px 20px 20px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.group {
  position: relative;
  margin-bottom: 25px;
}

input {
  font-size: 15px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 420px;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: black;
  background: rgba(0, 0, 0, 0);
  opacity: 0.5;
  transition: 0.2s ease;
}

input:focus {
  outline: none;
  opacity: 1;
}

label {
  color: black;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label, input:valid~label {
  top: -10px;
  font-size: 14px;
  color: #B1B1B1;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #B1B1B1;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #B1B1B1;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #B1B1B1;
  }

  to {
    width: 0;
    background: transparent;
  }
}

a.send-btn {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-left: 35%;
}

a.send-btn:hover {
  color: #FAFAFA;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.33s ease;
}

.menu::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(240, 240, 240, 0.0);
  transition: all 0.45s ease;
}

body.menu-active .menu {
  left: 0;
}

body.menu-active .menu::before {
  background: rgba(240, 240, 240, 0.9);
}

/* Footer STARTS -------------------------------------------------------*/
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Avoid the IE 10-11 `min-height` bug. */
}

.container-container {
  flex: 1 0 auto;
/* height: 600px; */
}

.footer {
  height: 80px;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}

.footerCopyText {
  margin-top: 10px;
}

footer {
  background: #202c43;
  color: white;
  padding: 0 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  /* margin-top: 100px; */
}

.footerLi {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 25px;
  text-decoration: undeline;
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.test {
  text-align: center;
}

.buttonF {
  background-color: #BF5700;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* Footer ENDS */
/* mediaQuaries STARTS */
@media only screen and (min-width: 350px) and (max-width: 600px) {
  .bg {
    display: none;
  }

  .bg-container .inner {
    left: 0;
    height: auto;
    width: 340px;
    margin: 10px;
    margin-top: 0;
    position: relative;
    top: auto;
  }

  .footerCopyText {
    font-size: 13px;
    /* margin-bottom: 3px; */
    margin-top: 0;
  }

  .footerLi {
    font-size: 14px;
    display: inline;
    padding: 5px;
  }

  .footer {
    height: 70px;
    padding: 10px;
  }

  .buttonF {
    margin-top: 15px;
    /* margin-bottom: 40px; */
    font-size: 14px;
    padding: 4px 10px;
  }

  a.logo.activeHome {
    padding-left: 0;
  }

  .inner {
    margin: 5px;
  }

  input {
    font-size: 13px;
    width: 280px;
  }

  label {
    font-size: 15px;
  }

  input:focus~label, input:valid~label {
    font-size: 14px;
  }
  .contact-message {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form h1 {
  margin: 0 0 15px 0;
  font-size: 16px;
}

a.send-btn {
  padding: 5px 45px;
  margin-left: 28%;
  margin-top: 20px;
}

.topnav a.icon{
  padding: 5px 12px 6px 12px;
  margin-top: 5px;
}

a.logo.activeHome {
  padding-left: 0;
  padding-bottom: 7px;
}


}

/* mediaQuaries ENDS */
